.pio/
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch/

**/.gradle/
**/build/
**/.idea/
**/local.properties

*.log
*.out
*.err

*.apk
*.aab
*.keystore
*.jks

backups/
esp-tools/
video-tools/
_publish_vlktours2/
